html {
background-color:black;
}
h1, h2, h3, p  
{
 font-family: "helvetica", helvetica, sans-serif;
}
em {
color:black;
}

a {
color:black;
}
a:hover {
color:#CC0000;
font-size: 120%;
}

#header 
{
    background-color:#CC0000;
    color:white;
    text-align:left;
    padding:5px;
}
#navigation 
{
    line-height:30px;
    background-color:#eeeeee;
    height:800px;
    width:250px;
    float:left;
    padding:5px; 
}

#content1, #content2
{
    background-color:#eeeeee;
    width:500px;
    float:left;
    margin:10px;
    padding:10px;
}

#content2
{
  height:555px;
}

#images1
{
   width:400px;
   float:left;
   padding:10px;
   margin:10px;
   position: relative;
   top: -216px;
   left: -14px;
}

#footer 
{
    background-color:#CC0000;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}